<div class="col-md-4 col-md-offset-4">
  <h1>The IdeaBox</h1>
</div>

<div class="col-md-4 col-md-offset-4">
  <h2>Add a New Idea</h2>
  <%= form_tag '/api/v1/ideas' do %>
    <%= label_tag 'Title', nil, id: "form-title" %>
    <%= text_field_tag 'title'%>
    </br>
    <%= label_tag 'Body', nil, id: "form-body" %>
    <%= text_field_tag 'body' %>
    </br>
    <button type="button" class='button' id='create-button'>Save</button>
  <% end %>
</div>


<div class="col-md-4 col-md-offset-4">
  <h2>All of the Ideas</h2>
  <div id="all-ideas">
  </div>
</div>
